html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents extra scrollbars */
  }
  
  main {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
  }